# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/client/node_modules
src/node_modules
src/client/.pnp
src/client/.pnp.js

# testing
src/client/coverage

# production
src/client/build

# misc
src/client/.DS_Store
src/client/.env.local
src/client/.env.development.local
src/client/.env.test.local
src/client/.env.production.local

src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*

.vscode

src/server/coverage
src/server/apis/test/report.html
src/server/logs
src/server/.env
src/server/components/auth/firebase/service_acount_key.json

.env

# App ignores
src/app/node_modules/
src/app/.expo/
src/app/npm-debug.*
src/app/*.jks
src/app/*.p8
src/app/*.p12
src/app/*.key
src/app/*.mobileprovision
src/app/*.orig.*
src/app/web-build/
src/app/.DS_Store

src/app/android/local.properties
src/app/android/.gradle/
src/app/android/build/