# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/client/node_modules
src/node_modules
src/client/.pnp
src/client/.pnp.js

# testing
src/client/coverage

# production
src/client/build

# misc
src/client/.DS_Store
src/client/.env.local
src/client/.env.development.local
src/client/.env.test.local
src/client/.env.production.local

src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*

.vscode

src/server/coverage
src/server/newman
src/server/logs

src/server/.env
