.leaflet-container {
  background-color: rgba(255, 0, 0, 0);
}

.leaflet-touch .leaflet-bar a {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.leaflet-bar {
  border-radius: 7px;
}

.leaflet-pm-toolbar .button-container:first-child a.leaflet-buttons-control-button {
  border-radius: 7px 7px 0 0;
}

.leaflet-pm-toolbar .button-container:last-child a.leaflet-buttons-control-button {
  border-radius: 0 0 7px 7px;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.marker-icon,
.marker-icon:focus {
  background-color: #ffffff;
  border: none;
  border-radius: 10%;
  margin: -6px 0 0 -6px !important;
  width: 10px !important;
  height: 10px !important;
  outline: none;
  transition: opacity ease 0.3s;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.leaflet-pm-toolbar .leaflet-line-floor {
  background-image: url('../img/line.png');
}
.leaflet-pm-toolbar .leaflet-rectangle-floor {
  background-image: url('../img/square.png');
}
.leaflet-pm-toolbar .leaflet-polygon-floor {
  background-image: url('../img/draw.png');
}

.leaflet-pm-toolbar .leaflet-circle-shelf {
  background-image: url('../img/circle_.png');
}
.leaflet-pm-toolbar .leaflet-rectangle-shelf {
  background-image: url('../img/rectangle_shelf.png');
}
.leaflet-pm-toolbar .leaflet-polygon-shelf {
  background-image: url('../img/custom_shelf.png');
}

.leaflet-pm-toolbar .leaflet-circle-shelf-partition {
  background-image: url('../img/circle_partition.png');
}
.leaflet-pm-toolbar .leaflet-rectangle-shelf-partition {
  background-image: url('../img/square_partition.png');
}
.leaflet-pm-toolbar .leaflet-polygon-shelf-partition {
  background-image: url('../img/free_draw_partition.png');
}
